@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .skew-p5 {
    transform: skew(-5deg);
  }
}

body {
  background-color: #F5F5F5; /* p5-paper */
  color: #121212; /* p5-black */
  /* Halftone background pattern */
  background-image: radial-gradient(rgba(18, 18, 18, 0.1) 1.5px, transparent 1.5px);
  background-size: 10px 10px;
}
